* {
    margin: 0px;
    text-decoration: none;
    box-sizing: border-box;
}


/*navbar start */

nav {
    background-color: white;
    height: 80px;
    width: 100%;
}

.logo {
    width: 300px;
    padding-top: 20px;
    margin-left: 100px;
}

nav ul {
    float: right;
    margin-right: 30px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
}

nav ul li a {
    font-size: 20px;
    font-family: sans-serif;
    padding: 15px;
    border-radius: 50px;
    color: black;
}

a.active,
a:hover {
    color: white;
    background-color: black;
}


/* nav bar end */


/*  main section start*/

.photo1 {
    margin: 100px auto;
    width: 100%;
}

.img1 {
    max-width: 600px;
    float: right;
    border-radius: 20px;
}

.img1:hover {
    border: outset;
    -webkit-transform-: scale(50);
}

.text1 h1 {
    color: black;
    margin-top: 100px;
    font-size: 40px;
    margin-left: 60px;
}

.text1 h1 span {
    color: gold;
}

.span1 {
    color: rgba(8, 25, 79, 0.95);
}

.text1 h1:hover {
    text-decoration-line: underline;
    text-decoration-color: orangered;
}

.text1 p {
    margin-top: 10px;
    font-size: 30px;
    margin-left: 70px;
}

button {
    background-color: rgb(40, 38, 37);
    height: 50px;
    color: white;
    width: 100px;
    font-size: 20px;
    border-radius: 40px;
    margin-left: 100px;
}

button:hover {
    border: outset;
    -webkit-transform-: scale(50);
}

.signup {
    background-color: rgb(0, 47, 255);
    height: 50px;
    color: white;
    width: 100px;
    font-size: 20px;
    border-radius: 40px;
    margin-left: 10px;
}

.signup:hover {
    border: outset;
    -webkit-transform-: scale(50);
}

.text2 {
    color: goldenrod;
    text-align: center;
    font-size: large;
    margin: auto;
    margin-top: 150px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.img2 {
    margin-top: 100px;
    max-width: 300px;
    max-height: 300px;
    margin-left: 50px;
    border-radius: 20px;
}

.img2:hover {
    border: outset;
    -webkit-transform-: scale(50);
}

.text3 p {
    font-size: 20px;
    margin-left: 80px;
    padding-top: 10px;
}

.text3 h2 {
    padding-top: -10px;
    font-size: 30px;
    margin-left: 60px;
}

.img3 {
    display: block;
    max-width: 300px;
    margin-left: 450px;
    margin-top: -400px;
    border-radius: 20px;
}

.img3:hover {
    border: outset;
    -webkit-transform-: scale(50);
}

.text4 p {
    margin-top: 0px;
    display: block;
    font-size: 20px;
    margin-left: 520px;
}

.text4 h2 {
    margin-bottom: 10px;
    font-size: 30px;
    margin-left: 500px;
}

.img4 {
    display: block;
    max-width: 300px;
    margin-left: 840px;
    margin-top: -420px;
    border-radius: 20px;
}

.img4:hover {
    border: outset;
    -webkit-transform-: scale(50);
}

.text5 p {
    margin-top: 10px;
    display: block;
    font-size: 20px;
    margin-left: 870px;
}

.text5 h2 {
    margin-top: 10px;
    font-size: 30px;
    margin-left: 850px;
}

.img6 {
    display: block;
    max-width: 300px;
    margin-left: 1200px;
    margin-top: -400px;
    border-radius: 20px;
}

.img6:hover {
    border: outset;
    -webkit-transform-: scale(50);
}

.text6 p {
    margin-top: 10px;
    display: block;
    font-size: 20px;
    margin-left: 1230px;
}

.text6 h2 {
    margin-top: 0px;
    font-size: 30px;
    margin-left: 1200px;
}


/* main section end*/


/* footer start */

.logo2 img {
    background-color: #24262b;
    width: 300px;
}

.container {
    max-width: 1000px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

ul {
    list-style: none;
}

.footer {
    background-color: #24262b;
    padding: 70px 0;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

.footer-col h4 {
    margin-left: 30px;
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #fff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: inline;
    background-color: #24262b;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: #ffffff;
    padding-left: 10px;
}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
    color: #24262b;
    background-color: #ffffff;
}


/*footer end */


/*responsive start*/

@media(max-width:300px) {
    nav {
        background-color: white;
        height: 10px;
        width: 100%;
    }
    .logo {
        width: 150px;
        padding-top: 20px;
        margin-left: 80px;
    }
    nav ul {
        float: right;
        margin-right: 40px;
    }
    nav ul li {
        display: inline-block;
        line-height: 80px;
    }
    nav ul li a {
        font-size: small;
        font-family: sans-serif;
        padding: 10px;
        border-radius: 50px;
        color: black;
    }
    a.active,
    a:hover {
        color: white;
        background-color: black;
    }
}

@media (max-width:300px) {
    /*  main section start*/
    .photo1 {
        margin: 100px auto;
        width: 100%;
    }
    .img1 {
        margin-top: -80px;
        max-width: 300px;
        float: right;
        border-radius: 20px;
    }
    .img1:hover {
        border: outset;
        -webkit-transform-: scale(50);
    }
    .text1 h1 {
        margin-bottom: -20px;
        color: black;
        margin-top: 200px;
        font-size: 20px;
        margin-left: 40px;
    }
    .text1 h1 span {
        color: gold;
    }
    .span1 {
        color: rgba(8, 25, 79, 0.95);
    }
    .text1 h1:hover {
        text-decoration-line: underline;
        text-decoration-color: orangered;
    }
    .text1 p {
        font-size: medium;
        margin-left: 50px;
    }
    button {
        background-color: rgb(40, 38, 37);
        height: 30px;
        color: white;
        width: 100px;
        font-size: medium;
        border-radius: 40px;
        margin-left: 40px;
    }
    button:hover {
        border: outset;
        -webkit-transform-: scale(50);
    }
    .signup {
        background-color: rgb(0, 47, 255);
        height: 30px;
        color: white;
        width: 100px;
        font-size: medium;
        border-radius: 40px;
        margin-left: 10px;
    }
    .signup:hover {
        border: outset;
        -webkit-transform-: scale(50);
    }
    .text2 {
        color: goldenrod;
        text-align: center;
        font-size: 10px;
        margin: auto;
        margin-top: 40px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
}

@media (max-width:300px) {
    .img2 {
        margin-top: 30px;
        max-width: 150px;
        max-height: 300px;
        margin-left: 60px;
        border-radius: 20px;
    }
    .img2:hover {
        border: outset;
        -webkit-transform-: scale(50);
    }
    .text3 p {
        font-size: medium;
        margin-left: 70px;
        padding-top: 10px;
    }
    .text3 h2 {
        font-size: larger;
        padding-top: -10px;
        margin-left: 60px;
    }
    .img3 {
        display: block;
        max-width: 180px;
        margin-left: 60px;
        margin-top: 50px;
        border-radius: 20px;
    }
    .img3:hover {
        border: outset;
        -webkit-transform-: scale(50);
    }
    .text4 p {
        margin-top: 0px;
        display: block;
        font-size: medium;
        margin-left: 70px;
    }
    .text4 h2 {
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: large;
        margin-left: 60px;
    }
    .img4 {
        display: block;
        max-width: 200px;
        margin-left: 60px;
        margin-top: 50px;
        border-radius: 20px;
    }
    .img4:hover {
        border: outset;
        -webkit-transform-: scale(50);
    }
    .text5 p {
        margin-top: 10px;
        display: block;
        font-size: medium;
        margin-left: 70px;
    }
    .text5 h2 {
        margin-top: 10px;
        font-size: large;
        margin-left: 60px;
    }
    .img6 {
        display: block;
        max-width: 200px;
        margin-left: 60px;
        margin-top: 50px;
        border-radius: 20px;
    }
    .img6:hover {
        border: outset;
        -webkit-transform-: scale(50);
    }
    .text6 p {
        margin-top: 10px;
        display: block;
        font-size: medium;
        margin-left: 70px;
    }
    .text6 h2 {
        margin-top: 0px;
        font-size: large;
        margin-left: 60px;
    }
}

@media(max-width:300px) {
    .footer-col {
        width: 50%;
        padding: 0 15px;
        margin-bottom: 30px;
    }
    .logo2 img {
        width: 300px;
        padding: 0 15px;
        margin-bottom: 30px;
    }
}

@media(max-width:300px) {
    .footer-col {
        width: 100%;
    }
    .logo2 img {
        width: 200px;
        padding: 0 15px;
        margin-bottom: 30px;
    }
    .footer-col {
        width: 50%;
        padding: 0 15px;
        margin-bottom: 30px;
    }
    .logo2 img {
        width: 300px;
        padding: 0 15px;
        margin-bottom: 30px;
    }
}


/*reponsive end*/

@media(max-width:400px) {
    .footer-col {
        width: 100%;
    }
    .logo2 img {
        width: 200px;
        padding: 0 15px;
        margin-bottom: 30px;
    }
    .img2 {
        margin-top: 30px;
        max-width: 150px;
        max-height: 300px;
        margin-left: 60px;
        border-radius: 20px;
    }
    .img2:hover {
        border: outset;
        -webkit-transform-: scale(50);
    }
    .text3 p {
        font-size: medium;
        margin-left: 70px;
        padding-top: 10px;
    }
    .text3 h2 {
        font-size: larger;
        padding-top: -10px;
        margin-left: 60px;
    }
    .img3 {
        display: block;
        max-width: 180px;
        margin-left: 60px;
        margin-top: 50px;
        border-radius: 20px;
    }
    .img3:hover {
        border: outset;
        -webkit-transform-: scale(50);
    }
    .text4 p {
        margin-top: 0px;
        display: block;
        font-size: medium;
        margin-left: 70px;
    }
    .text4 h2 {
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: large;
        margin-left: 60px;
    }
    .img4 {
        display: block;
        max-width: 200px;
        margin-left: 60px;
        margin-top: 50px;
        border-radius: 20px;
    }
    .img4:hover {
        border: outset;
        -webkit-transform-: scale(50);
    }
    .text5 p {
        margin-top: 10px;
        display: block;
        font-size: medium;
        margin-left: 70px;
    }
    .text5 h2 {
        margin-top: 10px;
        font-size: large;
        margin-left: 60px;
    }
    .img6 {
        display: block;
        max-width: 200px;
        margin-left: 60px;
        margin-top: 50px;
        border-radius: 20px;
    }
    .img6:hover {
        border: outset;
        -webkit-transform-: scale(50);
    }
    .text6 p {
        margin-top: 10px;
        display: block;
        font-size: medium;
        margin-left: 70px;
    }
    .text6 h2 {
        margin-top: 0px;
        font-size: large;
        margin-left: 60px;
    }
    /*  main section start*/
    .photo1 {
        margin: 100px auto;
        width: 100%;
    }
    .img1 {
        margin-top: -80px;
        max-width: 300px;
        float: right;
        border-radius: 20px;
    }
    .img1:hover {
        border: outset;
        -webkit-transform-: scale(50);
    }
    .text1 h1 {
        margin-bottom: -20px;
        color: black;
        margin-top: 200px;
        font-size: 20px;
        margin-left: 40px;
    }
    .text1 h1 span {
        color: gold;
    }
    .span1 {
        color: rgba(8, 25, 79, 0.95);
    }
    .text1 h1:hover {
        text-decoration-line: underline;
        text-decoration-color: orangered;
    }
    .text1 p {
        font-size: medium;
        margin-left: 50px;
    }
    button {
        background-color: rgb(40, 38, 37);
        height: 30px;
        color: white;
        width: 100px;
        font-size: medium;
        border-radius: 40px;
        margin-left: 40px;
    }
    button:hover {
        border: outset;
        -webkit-transform-: scale(50);
    }
    .signup {
        background-color: rgb(0, 47, 255);
        height: 30px;
        color: white;
        width: 100px;
        font-size: medium;
        border-radius: 40px;
        margin-left: 10px;
    }
    .signup:hover {
        border: outset;
        -webkit-transform-: scale(50);
    }
    .text2 {
        color: goldenrod;
        text-align: center;
        font-size: 10px;
        margin: auto;
        margin-top: 40px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    nav {
        background-color: white;
        height: 10px;
        width: 100%;
    }
    .logo {
        width: 150px;
        padding-top: 20px;
        margin-left: 80px;
    }
    nav ul {
        float: right;
        margin-right: 40px;
    }
    nav ul li {
        display: inline-block;
        line-height: 80px;
    }
    nav ul li a {
        font-size: small;
        font-family: sans-serif;
        padding: 10px;
        border-radius: 50px;
        color: black;
    }
    a.active,
    a:hover {
        color: white;
        background-color: black;
    }
}

@media screen and (max-width:767px) {
    .footer-col {
        width: 100%;
    }
    .logo2 img {
        width: 200px;
        padding: 0 15px;
        margin-bottom: 30px;
    }
    .img2 {
        margin-top: 30px;
        max-width: 150px;
        max-height: 300px;
        margin-left: 60px;
        border-radius: 20px;
    }
    .img2:hover {
        border: outset;
        -webkit-transform-: scale(50);
    }
    .text3 p {
        font-size: medium;
        margin-left: 70px;
        padding-top: 10px;
    }
    .text3 h2 {
        font-size: larger;
        padding-top: -10px;
        margin-left: 60px;
    }
    .img3 {
        display: block;
        max-width: 180px;
        margin-left: 60px;
        margin-top: 50px;
        border-radius: 20px;
    }
    .img3:hover {
        border: outset;
        -webkit-transform-: scale(50);
    }
    .text4 p {
        margin-top: 0px;
        display: block;
        font-size: medium;
        margin-left: 70px;
    }
    .text4 h2 {
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: large;
        margin-left: 60px;
    }
    .img4 {
        display: block;
        max-width: 200px;
        margin-left: 60px;
        margin-top: 50px;
        border-radius: 20px;
    }
    .img4:hover {
        border: outset;
        -webkit-transform-: scale(50);
    }
    .text5 p {
        margin-top: 10px;
        display: block;
        font-size: medium;
        margin-left: 70px;
    }
    .text5 h2 {
        margin-top: 10px;
        font-size: large;
        margin-left: 60px;
    }
    .img6 {
        display: block;
        max-width: 200px;
        margin-left: 60px;
        margin-top: 50px;
        border-radius: 20px;
    }
    .img6:hover {
        border: outset;
        -webkit-transform-: scale(50);
    }
    .text6 p {
        margin-top: 10px;
        display: block;
        font-size: medium;
        margin-left: 70px;
    }
    .text6 h2 {
        margin-top: 0px;
        font-size: large;
        margin-left: 60px;
    }
    /*  main section start*/
    .photo1 {
        margin: 100px auto;
        width: 100%;
    }
    .img1 {
        margin-top: -80px;
        max-width: 300px;
        float: right;
        border-radius: 20px;
    }
    .img1:hover {
        border: outset;
        -webkit-transform-: scale(50);
    }
    .text1 h1 {
        margin-bottom: -20px;
        color: black;
        margin-top: 200px;
        font-size: 20px;
        margin-left: 40px;
    }
    .text1 h1 span {
        color: gold;
    }
    .span1 {
        color: rgba(8, 25, 79, 0.95);
    }
    .text1 h1:hover {
        text-decoration-line: underline;
        text-decoration-color: orangered;
    }
    .text1 p {
        font-size: medium;
        margin-left: 50px;
    }
    button {
        background-color: rgb(40, 38, 37);
        height: 30px;
        color: white;
        width: 100px;
        font-size: medium;
        border-radius: 40px;
        margin-left: 40px;
    }
    button:hover {
        border: outset;
        -webkit-transform-: scale(50);
    }
    .signup {
        background-color: rgb(0, 47, 255);
        height: 30px;
        color: white;
        width: 100px;
        font-size: medium;
        border-radius: 40px;
        margin-left: 10px;
    }
    .signup:hover {
        border: outset;
        -webkit-transform-: scale(50);
    }
    .text2 {
        color: goldenrod;
        text-align: center;
        font-size: 10px;
        margin: auto;
        margin-top: 40px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    nav {
        background-color: white;
        height: 10px;
        width: 100%;
    }
    .logo {
        width: 150px;
        padding-top: 20px;
        margin-left: 80px;
    }
    nav ul {
        float: right;
        margin-right: 40px;
    }
    nav ul li {
        display: inline-block;
        line-height: 80px;
    }
    nav ul li a {
        font-size: small;
        font-family: sans-serif;
        padding: 10px;
        border-radius: 50px;
        color: black;
    }
    a.active,
    a:hover {
        color: white;
        background-color: black;
    }
}

@media screen and (max-width:600px) and (max-width:500px) and (max-width:200px) and (max-width:800px) and (max-width:700px) and (max-width:900px) {
    .footer-col {
        width: 100%;
    }
    .logo2 img {
        width: 200px;
        padding: 0 15px;
        margin-bottom: 30px;
    }
    .img2 {
        margin-top: 30px;
        max-width: 150px;
        max-height: 300px;
        margin-left: 60px;
        border-radius: 20px;
    }
    .img2:hover {
        border: outset;
        -webkit-transform-: scale(50);
    }
    .text3 p {
        font-size: medium;
        margin-left: 70px;
        padding-top: 10px;
    }
    .text3 h2 {
        font-size: larger;
        padding-top: -10px;
        margin-left: 60px;
    }
    .img3 {
        display: block;
        max-width: 180px;
        margin-left: 60px;
        margin-top: 50px;
        border-radius: 20px;
    }
    .img3:hover {
        border: outset;
        -webkit-transform-: scale(50);
    }
    .text4 p {
        margin-top: 0px;
        display: block;
        font-size: medium;
        margin-left: 70px;
    }
    .text4 h2 {
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: large;
        margin-left: 60px;
    }
    .img4 {
        display: block;
        max-width: 200px;
        margin-left: 60px;
        margin-top: 50px;
        border-radius: 20px;
    }
    .img4:hover {
        border: outset;
        -webkit-transform-: scale(50);
    }
    .text5 p {
        margin-top: 10px;
        display: block;
        font-size: medium;
        margin-left: 70px;
    }
    .text5 h2 {
        margin-top: 10px;
        font-size: large;
        margin-left: 60px;
    }
    .img6 {
        display: block;
        max-width: 200px;
        margin-left: 60px;
        margin-top: 50px;
        border-radius: 20px;
    }
    .img6:hover {
        border: outset;
        -webkit-transform-: scale(50);
    }
    .text6 p {
        margin-top: 10px;
        display: block;
        font-size: medium;
        margin-left: 70px;
    }
    .text6 h2 {
        margin-top: 0px;
        font-size: large;
        margin-left: 60px;
    }
    /*  main section start*/
    .photo1 {
        margin: 100px auto;
        width: 100%;
    }
    .img1 {
        margin-top: -80px;
        max-width: 300px;
        float: right;
        border-radius: 20px;
    }
    .img1:hover {
        border: outset;
        -webkit-transform-: scale(50);
    }
    .text1 h1 {
        margin-bottom: -20px;
        color: black;
        margin-top: 200px;
        font-size: 20px;
        margin-left: 40px;
    }
    .text1 h1 span {
        color: gold;
    }
    .span1 {
        color: rgba(8, 25, 79, 0.95);
    }
    .text1 h1:hover {
        text-decoration-line: underline;
        text-decoration-color: orangered;
    }
    .text1 p {
        font-size: medium;
        margin-left: 50px;
    }
    button {
        background-color: rgb(40, 38, 37);
        height: 30px;
        color: white;
        width: 100px;
        font-size: medium;
        border-radius: 40px;
        margin-left: 40px;
    }
    button:hover {
        border: outset;
        -webkit-transform-: scale(50);
    }
    .signup {
        background-color: rgb(0, 47, 255);
        height: 30px;
        color: white;
        width: 100px;
        font-size: medium;
        border-radius: 40px;
        margin-left: 10px;
    }
    .signup:hover {
        border: outset;
        -webkit-transform-: scale(50);
    }
    .text2 {
        color: goldenrod;
        text-align: center;
        font-size: 10px;
        margin: auto;
        margin-top: 40px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    nav {
        background-color: white;
        height: 10px;
        width: 100%;
    }
    .logo {
        width: 150px;
        padding-top: 20px;
        margin-left: 80px;
    }
    nav ul {
        float: right;
        margin-right: 40px;
    }
    nav ul li {
        display: inline-block;
        line-height: 80px;
    }
    nav ul li a {
        font-size: small;
        font-family: sans-serif;
        padding: 10px;
        border-radius: 50px;
        color: black;
    }
    a.active,
    a:hover {
        color: white;
        background-color: black;
    }
}